  body {
    margin: 0px;
  }
  .title {
		font-size: 20px;
	}
	.splashscreen{
			position:fixed;
			margin:0px;
			width:100%;
			height:100%;
			z-index:5;
			background-color: seagreen !important;
		}
		.nav-title {
			margin-left: 30px;
		}
		.load{
			position:absolute;
			top:55px;
		}
		
		.seagreen {
			background-color: seagreen !important;
		}
		.seagreen-text {
			color: seagreen !important;
		}
			 /* label color */
   .input-field label {
     color: seagreen !important;
   }
   /* label focus color */
   .input-field input:focus + label {
     color: seagreen !important;
   }
   /* label underline focus color */
   .input-field input:focus {
     border-bottom: 1px solid seagreen !important;
     box-shadow: 0 1px 0 0 seagreen !important;
   }
   /* valid color */
   .input-field input.valid {
     border-bottom: 1px solid seagreen !important;
     box-shadow: 0 1px 0 0 seagreen !important;
   }
    /* invalid color */
   .input-field input.invalid {
     border-bottom: 1px solid seagreen !important;
     box-shadow: 0 1px 0 0 seagreen !important;
   }
   /* icon prefix focus color */
   .input-field .prefix.active {
     color: seagreen !important;
   }
   .btn-block {
     width:100% !important;
   }
   .cards-container {
  column-break-inside: avoid;
}
.cards-container .card {
  display: inline-block;
  overflow: visible;
  width:100% !important;
}

@media only screen and (max-width: 600px) {
  .cards-container {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
  }
}
@media only screen and (min-width: 601px) {
  .cards-container {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }
}
@media only screen and (min-width: 993px) {
  .cards-container {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
  }
}
